@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');


/*==||================GENERAL STYLES===================*/

html {
  background-color:#171717;
}





/*==||================UTILITIES===================*/







/*==||================SITE-WIDE===================*/








/*==||================COMPONENTS===================*/

.login-title {
  font-family: 'Baloo 2';
  font-size: 50px;
}
